accelerate==1.12.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aistudio-sdk==0.3.8
altair==5.4.1
annotated-types==0.7.0
anthropic==0.75.0
anyio==3.7.1
argcomplete==3.6.3
asgiref==3.8.1
attrs==25.4.0
Automat==25.4.16
azure-core==1.36.0
azure-identity==1.25.1
bce-python-sdk==0.9.55
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.42.4
botocore==1.42.4
brotli==1.2.0
cachelib==0.13.0
cachetools==5.5.0
certifi==2025.11.12
cffi==1.17.1
cfgv==3.5.0
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==2.1.1
click==8.3.0
colorama==0.4.6
colorlog==6.10.1
comtypes==1.4.13
constantly==23.10.4
construct==2.10.70
contourpy==1.3.3
cryptography==43.0.3
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
dashscope==1.25.2
dataclasses-json==0.6.7
DateTime==4.7
decorator==4.4.2
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
distro==1.9.0
Django==5.1.5
docstring_parser==0.17.0
duckduckgo_search==8.1.1
easyocr==1.7.2
einops==0.8.0
fake-useragent==2.2.0
fastapi==0.115.8
ffmpeg-python==0.2.0
ffmpy==0.5.0
filelock==3.17.0
Flask==3.1.0
Flask-Session==0.8.0
fonttools==4.61.0
frozenlist==1.8.0
fsspec==2025.2.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.43.0
gradio==6.0.2
gradio_client==2.0.1
greenlet==3.2.4
groovy==0.1.2
groq==0.37.1
gTTS==2.5.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface==0.0.1
huggingface-hub==0.36.0
hyperlink==21.0.0
identify==2.6.15
idna==3.11
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.3.0
instaloader==4.14.1
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.9
langchain==1.0.7
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.0.5
langchain-ollama==1.0.0
langchain-text-splitters==1.0.0
langgraph==1.0.3
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.4
langgraph-sdk==0.2.9
langsmith==0.4.43
lazy_loader==0.4
llmstack==0.2.6
llvmlite==0.44.0
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.7
mdurl==0.1.2
modelscope==1.32.0
more-itertools==10.7.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.0
msgspec==0.19.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==1.13.5
networkx==3.4.2
ninja==1.13.0
nltk==3.9.1
nodeenv==1.9.1
numba==0.61.2
numpy==1.26.4
ollama==0.6.1
openai==1.3.5
openai-whisper==20240930
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
orjson==3.11.4
ormsgpack==1.12.0
packaging==24.2
paddleocr==3.3.2
paddlepaddle==3.2.2
paddlex==3.3.10
pandas==2.2.3
phoneintel==1.1.1
phonenumbers==8.13.42
pillow==11.0.0
pipx==1.11.0
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
pre-commit==3.8.0
prettytable==3.17.0
primp==0.15.0
proglog==0.1.10
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==5.28.3
psutil==7.1.3
py-cpuinfo==9.0.0
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pyclipper==1.4.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.10.1
PyMsgBox==2.0.1
pyodbc==5.2.0
pyparsing==3.2.5
PyPDF2==3.0.1
pypdfium2==5.1.0
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
pysnmp==7.1.22
pystyle==2.0
pytest==8.3.3
pytest-asyncio==0.23.6
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
python-on-whales==0.71.0
pytube==15.0.0
pytweening==1.2.0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
referencing==0.35.1
regex==2024.11.6
requests==2.28.1
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.21.0
rsa==4.9.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
ruff==0.6.7
s3transfer==0.16.0
safehttpx==0.1.7
safetensors==0.7.0
scikit-image==0.25.2
scipy==1.16.3
scrapetube==2.5.1
screeninfo==0.8.1
seaborn==0.13.2
semantic-version==2.10.0
setuptools==75.5.0
shapely==2.1.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.5.3
starlette==0.45.3
streamlit==1.40.1
supervision==0.18.0
sympy==1.14.0
tenacity==9.1.2
tensor==0.3.6
termcolor==3.3.0
tifffile==2025.10.16
tiktoken==0.9.0
timm==1.0.22
tk==0.1.0
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.13.2
torch==2.9.1
torchvision==0.24.1
tornado==6.4.1
tqdm==4.67.0
transformers==4.48.2
ttkthemes==3.2.2
Twisted==25.5.0
typer==0.15.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2024.2
uiautomation==2.0.29
ujson==5.11.0
ultralytics==8.3.70
ultralytics-thop==2.0.18
urllib3==1.26.20
userpath==1.9.2
uuid==1.30
uvicorn==0.34.0
virtualenv==20.35.4
watchdog==6.0.0
wcwidth==0.2.14
websocket-client==1.9.0
websockets==14.2
Werkzeug==3.1.3
xxhash==3.6.0
yarl==1.22.0
yt-dlp==2025.3.31
zope.interface==8.0.1
zstandard==0.25.0
